/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
  --size-home-avatar: 250px;

  /* Animation */
  --animation-duration: 300ms;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* Typography */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Section */

.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

.section_container {
  max-width: 1200px;
}

/* TopKey */
.topkey_button {
  background-color: var(--color-pink);
  border-radius: 50%;
  position: fixed;
  right: 0.5vh;
  bottom: 10vh;
  width: 40px;
  height: 40px;
  font-size: 22px;
  padding-top: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms;
}

.topkey_button.visible {
  opacity: 1;
  pointer-events: auto;

  transition: opacity 300ms;
  display: block;
}

.topkey_button i {
  color: var(--color-white);
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 2px;
  z-index: 2;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__icon {
  width: 25px;
  height: 25px;
}

.navbar_menu {
  display: flex;
}

.navbar_item {
  color: var(--color-white);
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color var(--animation-duration);
  border-radius: var(--size-border-radius);
}

.navbar_item.active {
  border: 1px solid var(--color-light-white);
}

.navbar_item:hover {
  background-color: var(--color-dark-pink);
  transition: background-color var(--animation-duration);
}

.toggle_btn {
  font-size: 24px;
  position: absolute;
  top: 8px;
  right: 32px;
  color: var(--color-white);
  display: none;
}

/* Home */

#home {
  background: url(img/background.png) center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.home_avatar {
  width: var(--size-home-avatar);
  height: var(--size-home-avatar);
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home_title,
.home_description {
  color: var(--color-white);
}

.home_contact {
  border: 2px solid var(--color-orange);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  color: var(--color-white);
  transition: all var(--animation-duration);
}

.home_contact:hover {
  background-color: var(--color-light-grey);
  transition: all var(--animation-duration);
}

/* About */

.about_majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major_icon {
  padding: 20px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 16px;
}

.major_icon img {
  border-radius: 38%;
  transition: all var(--animation-duration);
}

.major_icon img:hover {
  border-radius: 50%;
  transform: rotate(-20deg) scale(1.1);
  background-color: var(--color-pink);
  transition: all var(--animation-duration);
}

.major_title,
.major_description {
  color: var(--color-dark-grey);
}

.major_description {
  font-size: var(--font-small);
}

.about_jobs {
  margin: 25px 0;
}

.job {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.job_logo {
  width: 180px;
}

.job_description {
  margin: 0px 16px;
  text-align: left;
}

.job_name,
.job_period {
  color: var(--color-light-grey);
}

.job_name {
  font-size: var(--font-small);
}

.job_period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skills_container {
  margin: auto;
}

.skillset {
  margin: 20px 0;
  background-color: var(--color-light-grey);
  display: flex;
}

.skillset_title {
  color: var(--color-light-white);
}
.skillset_left {
  padding: 20px 40px;
  color: var(--color-light-white);
  background-color: var(--color-dark-grey);
  flex-basis: 60%;
}

.skillset_right {
  flex-basis: 40%;
}

.skill_description {
  display: flex;
  justify-content: space-between;
}

.skill_bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  height: 2px;
  background-color: yellow;
}

.skill {
  margin-bottom: 32px;
}

.tools {
  color: var(--color-light-white);
  background-color: var(--color-grey);
}
.etc {
  color: var(--color-light-white);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work_categories {
  margin: 40px;
}

.category_btn {
  border: solid 1px var(--color-dark-grey);
  padding: 8px 48px;
  margin: 5px 5px;
  font-size: var(--font-regular);
  border-radius: var(--size-border-radius);
}

.category_btn.active,
.category_btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
  transition: background-color var(--animation-duration);
}

.category_btn.active .category_count,
.category_btn:hover .category_count {
  opacity: 1;
  top: 0;
  transition: var(--animation-duration);
}

.category_count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  opacity: 0;
}

.work_projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
  width: 300px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.work_projects img {
  width: 80%;
  height: 80%;
  max-height: 100%;
  max-width: 100%;
}

.project_description {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  transform: translateY(10px);
  opacity: 0;
  transition: all var(--animation-duration);
}

.project:hover .project_description {
  opacity: 0.8;
  transform: translateY(0px);
  transition: all var(--animation-duration);
}

.project_description h3 {
  color: var(--color-white);
}

.project_description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -20px;
  margin-top: 8px;
  height: 2px;
  width: 30px;
  background-color: var(--color-light-grey);
}

/* Testimonial */

#testimonials {
  background-color: var(--color-dark-white);
}

.testimonial {
  display: flex;
  margin: 18px;
  align-items: center;
}

.testimonial_avatar {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.testimonial_avatar:nth-child(odd) {
  margin-right: 20px;
}

.testimonial_avatar:nth-child(even) {
  margin-left: 20px;
}

.testimonial_speechBubble {
  margin: 12px;
  width: 100%;
  border-radius: var(--size-border-radius);
  height: 100%;
  background-color: var(--color-light-white);
}

.testimonial_speechBubble p a {
  color: var(--color-pink);
}

/* Contact */

#contact {
  background-color: var(--color-pink);
}

.contact_title {
  margin: 32px 0;
}

.contact_title,
.contact_email,
.contact_rights {
  color: var(--color-white);
}

.contact_links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact_links i {
  transition: all var(--animation-duration);
}

.contact_links i:hover {
  transform: scale(1.2);
  transition: all var(--animation-duration);
}

@media screen and (max-width: 768px) {
  .toggle_btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_menu {
    align-items: center;
    width: 100%;
    flex-direction: column;
    display: none;
  }

  .about_majors {
    width: 205px;
    margin: auto;
    flex-direction: column;
  }

  .testimonial_avatar {
    width: 100px;
    height: 100px;
  }
}
